@font-face {
    font-family: SF Pro;
    src: url('lib/assets/fonts/SF-Pro-Text-Ultralight.otf');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: SF Pro;
    src: url('lib/assets/fonts/SF-Pro-Text-UltralightItalic.otf');
    font-weight: 100;
    font-style: italic;
}
@font-face {
    font-family: SF Pro;
    src: url('lib/assets/fonts/SF-Pro-Text-Thin.otf');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: SF Pro;
    src: url('lib/assets/fonts/SF-Pro-Text-ThinItalic.otf');
    font-weight: 200;
    font-style: italic;
}
@font-face {
    font-family: SF Pro;
    src: url('lib/assets/fonts/SF-Pro-Text-Light.otf');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: SF Pro;
    src: url('lib/assets/fonts/SF-Pro-Text-LightItalic.otf');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: SF Pro;
    src: url('lib/assets/fonts/SF-Pro-Text-Regular.otf');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: SF Pro;
    src: url('lib/assets/fonts/SF-Pro-Text-RegularItalic.otf');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: SF Pro;
    src: url('lib/assets/fonts/SF-Pro-Text-Medium.otf');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: SF Pro;
    src: url('lib/assets/fonts/SF-Pro-Text-MediumItalic.otf');
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: SF Pro;
    src: url('lib/assets/fonts/SF-Pro-Text-Semibold.otf');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: SF Pro;
    src: url('lib/assets/fonts/SF-Pro-Text-SemiboldItalic.otf');
    font-weight: 600;
    font-style: italic;
}
@font-face {
    font-family: SF Pro;
    src: url('lib/assets/fonts/SF-Pro-Text-Bold.otf');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: SF Pro;
    src: url('lib/assets/fonts/SF-Pro-Text-BoldItalic.otf');
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: SF Pro;
    src: url('lib/assets/fonts/SF-Pro-Text-Heavy.otf');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: SF Pro;
    src: url('lib/assets/fonts/SF-Pro-Text-HeavyItalic.otf');
    font-weight: 800;
    font-style: italic;
}
@font-face {
    font-family: SF Pro;
    src: url('src/lib/assets/fonts/SF-Pro-Text-Black.otf');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: SF Pro;
    src: url('lib/assets/fonts/SF-Pro-Text-BlackItalic.otf');
    font-weight: 900;
    font-style: italic;
}
:root {
    --font-system: system-ui, 'Segoe UI', Roboto, 'Helvetica Neue', Ubuntu, Arial, sans-serif;
    --font-sans: SF Pro, var(--font-system);
    --font: 8px var(--font-sans);
    --font-bold: 600 var(--font);
    --font-italic: italic var(--font);
    --font-italic-bold: italic var(--font-bold);
}
